{% extends 'layout.html' %}

{% block body %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pcoded-content" >
        <!-- [ Main Content ] start -->
        <div class="row animate__animated animate__fadeIn" style="text-align: center">
             <img src="../static/images/평상시2.jpg" alt="user-image"  style="width: 200px; height: auto;border-radius: 50%;display: block;margin-left: auto;margin-right: auto;margin: 20px auto">
             <h4>새롭게 리뉴얼된 태시아 대시보드를 소개합니다!</h4>
        </div>
        <div class="row animate__animated animate__delay-1s animate__fadeIn"style="text-align: center;margin: 30px auto">
             <h4>모바일과 PC환경에서 쾌적하게 사용하실 수 있습니다.</h4>
        </div>
        <div class="row animate__animated animate__delay-2s animate__fadeInLeft animate__slow"style="text-align: right;margin: 30px auto">
             <img src="../static/images/index-review2.png" style="width: 850px; height: auto;box-shadow: 1px 1px 15px 6px grey;">
        </div>
        <div class="row animate__animated animate__delay-2s animate__fadeInRight animate__slow"style="margin: 30px auto;margin-left: 70%;margin-right: 0">
             <img src="../static/images/index-review.gif" style="width: 350px; height: auto;box-shadow: 1px 1px 15px 6px grey;">
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->
{% endblock %}