<!DOCTYPE html>
<html lang="en">

<head>
    <title>태시아 봇 대시보드</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="태시아 봇 대시보드입니다.">
    <meta name="keywords" content="테일즈샵, 태시아, 태시아 봇, 디스코드 봇, 디스코드, 대시보드, 디스코드 봇 대시보드, 태시아 봇 대시보드">
    <meta name="author" content="태시아 봇 ">


    <!-- Favicon icon -->
    <link rel="icon" href="../static/images/평상시2.jpg" type="image/x-icon">

    <!-- font css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/feather.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/material.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/vanillatoasts.css') }}">

    <!-- vendor css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<style>
		.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.1s cubic-bezier(0.65, 0, 0.45, 1) 0.4s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
	</style>
</head>

<body>
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ Mobile header ] start -->
	<div class="pc-mob-header pc-header">
		<div class="pcm-logo" style="color:#ffffff;">
			<strong>태시아봇 대시보드</strong>
		</div>
		<div class="pcm-toolbar">
			<a href="#!" class="pc-head-link" id="mobile-collapse">
				<div class="hamburger hamburger--arrowturn">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</a>
			<a href="#!" class="pc-head-link" id="headerdrp-collapse">
				<i data-feather="align-right"></i>
			</a>
			<a href="#!" class="pc-head-link" id="header-collapse">
				<i data-feather="more-vertical"></i>
			</a>
		</div>
	</div>
	<!-- [ Mobile header ] End -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">적용완료! - 잠시만 기다려주세요.</h5>
		  </div>
		  <div class="modal-body">
			<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
			  <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
			  <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
			</svg>
		  </div>
		</div>
	  </div>
	</div>
	{% include 'includes/_navbar.html' %}
	{% block body %}{% endblock %}

    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!--if lt IE 11>
        <div class="ie-warning">
            <h1>주의!!</h1>
            <p>접속하신 브라우저가 구버전 Internet Explorer로 확인되었습니다.
               <br/>원활하게 이용하실려면 아래에 나열된 브라우저로 설치 및 접속부탁드립니다.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="assets/images/browser/ie.png" alt="">
                            <div>IE (11 또는 이 이상의 최신버전)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>이용에 불편을 드려 죄송합니다.</p>
        </div>
    <endif-->
    <!-- Warning Section Ends -->
    <!-- Required Js -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/vendor-all.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins/bootstrap.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins/bootstrap.bundle.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/plugins/feather.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/pcoded.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/vanillatoasts.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit.min.js"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<!-- Apex Chart -->
	<script src="{{ url_for('static', filename='js/plugins/apexcharts.min.js') }}"></script>
{% if log == False %}
{% else %}
<script>
    $("body").append('<div class="fixed-button active"><a href="https://gumroad.com/dashboardkit" target="_blank" class="btn btn-md btn-success"><i class="material-icons-two-tone text-white">shopping_cart</i> Upgrade To Pro</a> </div>');
</script>

{% endif %}
<script>
	window.setTimeout(function() {
    $(".alert_auto").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 5000);
</script>
<script>
$(document).ready(function(){
  $('.toast').toast('show');
});
</script>
<!-- custom-chart js -->
	<script src="{{ url_for('static', filename='js/pages/dashboard-sale.js') }}"></script>
</body>

</html>
